* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: #faae2b98;
    color: #000;
}

.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #f2f7f5;

    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1 {
    width: 100%;
    margin-top: 2rem;
    color: #faae2b;
    font-size: 3rem;
    text-align: center;   
     font-family: "Shrikhand", serif;
    font-weight: 200;
    font-style: normal;
}

main {
    padding: 2rem 4rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.descripcion {
    padding: 0 10px;
    width: 34rem;
    height: auto;
    margin-top: 20px;
    color: black;
    font-size: 20px;
}

.video {
    /* Y X */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.video-youtube {
    width: 46rem;
    height: 26rem;
}

@media only screen and (max-width: 700px) {
    .video-youtube {
        width: 26rem;
        height: 14rem;
    }
}

@media only screen and (max-width: 1405px) {
    .descripcion {
        width: 46rem;
    }
}

.seccion-estrellitas {
    margin-top: 16px;
}

.rather {
    color: #fa5246;
    font-family: "Shrikhand", serif;
   font-weight: 200;
   font-style: normal;
}

/* Estrellitas */

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#form p {
    text-align: center;
}

#form label {
    font-size: 20px;
}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
    font-size: 45px;
    line-height: 46px;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover,
label:hover~label {
    color: #faae2b;
}

input[type="radio"]:checked~label {
    color: #faae2b;
}

/* Colapsable (Botones ventana) */

.collapsible {
    margin-top: 20px;
    padding: 18px;
    width: 100%;
    outline: none;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: left;
    font-weight: 700;
    background-color: #faae2b;
    color: #000;
}

.active,
.collapsible:hover {
    background-color: #fa5246;
}

.ingredientes {
    list-style: none !important;
}

.ingredientes li {
    display: flex;
    gap: 10px;
}

/* Checkbox */

.check {
    text-decoration: line-through;
}

.checkbox-wrapper-19 {
    box-sizing: border-box;
    --background-color: #fff;
    --checkbox-height: 20px;
}

@-moz-keyframes dothabottomcheck-19 {
    0% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) / 2);
    }
}

@-webkit-keyframes dothabottomcheck-19 {
    0% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) / 2);
    }
}

@keyframes dothabottomcheck-19 {
    0% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) / 2);
    }
}

@keyframes dothatopcheck-19 {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) * 1.2);
    }
}

@-webkit-keyframes dothatopcheck-19 {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) * 1.2);
    }
}

@-moz-keyframes dothatopcheck-19 {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) * 1.2);
    }
}

.checkbox-wrapper-19 input[type=checkbox] {
    display: none;
}

.checkbox-wrapper-19 .check-box {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * .1) solid #000;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
}

.checkbox-wrapper-19 .check-box::before,
.checkbox-wrapper-19 .check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: calc(var(--checkbox-height) * .2);
    background-color: #34b93d;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: " ";
    -webkit-transition: opacity ease 0.5;
    -moz-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
}

.checkbox-wrapper-19 .check-box::before {
    top: calc(var(--checkbox-height) * .72);
    left: calc(var(--checkbox-height) * .41);
    box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.checkbox-wrapper-19 .check-box::after {
    top: calc(var(--checkbox-height) * .37);
    left: calc(var(--checkbox-height) * .05);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox-wrapper-19 input[type=checkbox]:checked+.check-box,
.checkbox-wrapper-19 .check-box.checked {
    border-color: #34b93d;
}

.checkbox-wrapper-19 input[type=checkbox]:checked+.check-box::after,
.checkbox-wrapper-19 .check-box.checked::after {
    height: calc(var(--checkbox-height) / 2);
    -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    animation: dothabottomcheck-19 0.2s ease 0s forwards;
}

.checkbox-wrapper-19 input[type=checkbox]:checked+.check-box::before,
.checkbox-wrapper-19 .check-box.checked::before {
    height: calc(var(--checkbox-height) * 1.2);
    -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
    animation: dothatopcheck-19 0.4s ease 0s forwards;
}

.content {
    /* padding: 10px 26px; */
    background-color: #f2f7f5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.content ul li {
    margin: 6px 0;
}

/* Aviso de importante */

.importante {
    margin: 16px 0;
    padding: 10px 14px;

    background-color: #fa524689;

    border: 1px solid #fa5246;
    border-radius: 10px;
}

.nota {
    margin: 16px 0;
    padding: 10px 14px;

    background-color: #7bf6cf89;

    border: 1px solid #5ab397;
    border-radius: 10px;
}